.LoginSection {
  /* background: #ff911a; */
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 90vh;
  align-items: center;
  justify-content: center;
}

.LoginSection img {
  height: 100px;
  margin-bottom: 20px;
}

.separator {
  font-size: 1.3rem;
  font-weight: 700;
  border-bottom: 2px solid #fff;
}

.LoginForm {
  text-align: center;
  width: 25%;
}

.GoogleIcon {
  font-size: 2rem;
  margin-bottom: 15px;
}
.SuccessPassword {
  background: lightgreen;
}

.SuccessPassword .icon {
  display: flex;
}

.SuccessPassword:focus {
  background: lightgreen;
}

@media only screen and (max-width: 600px) {
  .LoginForm {
    width: 90%;
  }
}
